body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #efeee6;
}

#navbar {
    background-color: #EFEEE6;
}

<<<<<<< HEAD
#home-page {
    background-color: #202C39;
    overflow-x: hidden;
}

#background-home-page {
    background-color: #EFEEE6; 
}

#portfolio-page {
    background-color: #EFEEE6;
=======
#index-page{
    background-color: #202C39;
}


#portfolio-page {
    background-color: #283845;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
}

#about-page {
    background-color: #EFEEE6;
}

#contact-page {
    background-color: #F2D492;
    text-align: center;
}

#upper-home {
<<<<<<< HEAD
=======
    font-family: 'Nunito Sans', sans-serif;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
    font-size: 4.5em;
    font-style: italic;
    color: #EFEEE6;
    line-height: 95%;

}

#lower-home {
<<<<<<< HEAD
=======
    font-family: 'Nunito Sans', sans-serif;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
    font-size: 4.5em;
    font-style: italic;
    color: #EFEEE6;
    line-height: 95%;
    display: inline-block;
<<<<<<< HEAD
    height: 1em;   
}

#lname {
    display: inline-block;
    font-size: 4.5em;
    font-style: italic;
    color: #EFEEE6;
    line-height: 95%;

    position: relative;
    bottom: 0.9em;
    right: 0.5em;
}

#nameback-home {
=======
    height: 1em;
    
}

#lname {
    display: inline;
}

#nameback-home {
    font-family: 'Nunito Sans', sans-serif;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
    font-size: 1em;
    font-weight: 700;
    opacity: 0.3;
    font-style: italic;
    color: #F2D492;
    position: relative;
    bottom: 2.12em;
    right: 0.12em;
}

#angled-home{
    width: 10%;
    position: relative;
    bottom: 3.1em;
    height: 2.15em;
    border-right: 5px solid #F2D492;
    transform: skew(-14deg);
    position: relative;
    right: 1em;
}

#bottom-home{
    position: relative;
    width: 30em;
    right: 5em;
    bottom: 2em;
    border: 2px solid #F2D492;
    color: #F2D492;
}

#subtext-home {
    position: relative;
    right: 2em;
    bottom: 1em;
    color: #EFEEE6;
    letter-spacing: 0.1em;
<<<<<<< HEAD
}

#subtext-home a {
    color: #F2D492;
}

=======
}

#subtext-home a {
    color: #EFEEE6;
}

>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
#subtext-home a:hover {
    color: #F3A068;
}

#linkedin-home {
    width: 1.7em;
    border-radius: 20px;
}

#github-home {
    width: 1.7em;
    border-radius: 20px;
}

#email-home {
    width: 1.7em;
    border-radius: 20px;
}

a {	
	text-decoration: none;
}

#media-home {
    display: inline-block;
    font-size: 0.3em;
    vertical-align: top;    
}

#navbar {
<<<<<<< HEAD
    position: relative;
    left: 0.75em;
=======
	border-bottom: 1px dotted #ccc;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
}

#navbar nav {
	position: sticky;
<<<<<<< HEAD
    padding: .5em 0em .6em 0em; 
    
=======
    padding: .5em 0.75em .6em .75em; 
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
}

#navbar nav a {
	font-size: 1.3em;
	font-weight: 400;
<<<<<<< HEAD
    padding: 15px;
    
=======
	padding: 15px;
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
	color: #202C39;
}

#navbar nav a.selected {
	background: #ced8d0;
	color: #283845;	
<<<<<<< HEAD
    font-weight: 700;
=======
>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
}

#navbar nav a:hover {	
	background: #ced8d0;
	color: #202C39;
    font-weight: 700;
}

#name-nav {
    display: inline;
    font-size: 1.5em;
    letter-spacing: 0.01em;
    float: right;
}

.button {
	background-color: #EFEEE6; 
	border: 2px solid #202C39;
	border-radius: 8px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #283845; 
	color: #EFEEE6;
}

input {
    padding: 6px 10px;
}

input:focus {
    transition-duration: 0.2s;
    border: 3px solid #202C39;
}

<<<<<<< HEAD
#message {
    width: 30em;
    height: 15em;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

h1 {
    text-align: center;
}

#portfolio-page img {
    width: 100%;
    height: auto;
}

.proj-title {
    font-size: 1.5em;
}
=======
#linkportfolio {
    position: fixed;
    top: 86%;
    left: 39%;
    color: #EFEEE6;
    font-size: 1.4em;
    letter-spacing: 0em;
    font-family: "Nunito Sans";
}

>>>>>>> f0ac8bf9741cb0badff3411c888fb9c98ca08ed8
